<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <!--
    <h1>Hello WorldY !!</h1>
    -->
    <script>
        var userAgent = window.navigator.userAgent;
        //document.write(userAgent);
        //if (userAgent.match(/iPhone/i)){
         //   window.location = "Radar156://156?v=" + <%= message %>;
        //}
    </script>
  </body>
</html>
